{block content}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {form translatorForm}
                <div class="form-group row">
                    {label toTranslate}
                    <textarea class="form-control" id="toTranslate" n:name="toTranslate"></textarea>
                </div>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" n:name="submit">
                    </div>
                </div>
                    <div class="col-lg-3"></div>
                </div>

            {/form}


            <div class="form-group row">
                <label for="translatedText">Translated text</label>
                <textarea class="form-control" id="translatedText">{ifset $translatedText}{$translatedText}{else}Translated text{/ifset}</textarea>
            </div>


        </div>
    </div>

</div>
{/block}